.App {
  text-align: center;
}
.topbar{
  display: inline-block;
  padding: 10px;
}
.topbarback{
  background-color: lightblue;
  position: sticky; top: 0;
  width: 100%;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
.frontBottom{
  position: fixed;
  bottom: 10%;
  width: 100%;
  text-align: center;
}
.paddingDown{
  padding-bottom: 8%;
}
.paddingTop{
  padding-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}
.margin{
  margin-left: 5%;
  margin-right: 5%;
}
.stationoutput{
  text-align: left;
  margin-left: 5%;
  padding-right: 2%;
}

.formflex{ 
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.formboxnumber{ 
  
  border: 2px solid grey; 
  display: flex;
  flex-direction: row;
  width: 40px;
  margin-left: 10px;
  
}
.formbox{ 
  
  border: 2px solid grey; 
  display: flex;
  flex-direction: row;
  width: 200px;
  margin-left: 10px;
  margin-top: 1px;
}
.slidetextright{
  margin-left: 2px;
}
.slidetextright2{
  margin-left: 30px;
}
.slidetextright3{
  margin-left: 90px;
}
.moststationtopic{
  padding-top: 3%;
  padding-bottom: 1%;
  text-align: left;
  margin-left: 15%;
  border-bottom: 2px solid rebeccapurple;
}
.moststationwidth{
  width: 300px;
  text-align: left;
  margin-left: 15%;
}
.row {
  display: flex;
  margin-left:-5px;
  margin-right:-5px;
}
.column {
  flex: 50%;
  padding: 5px;
}