.App {
  text-align: center;
}
.topbar{
  display: inline-block;
  padding: 10px;
}
.topbarback{
  background-color: lightblue;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: lightblue;
  text-align: center;
}

.stationoutput{
  text-align: left;
  margin-left: 5%;
  padding-right: 2%;
}

.paddingright{
  padding-right: 2%;
}
